* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    padding: 25px 0 25px 25px;
    background: linear-gradient(135deg, #ffffff11, #ffffff55);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 9999;
}

.header__scroll {
    transition: 0.6s;
    padding: 15px 10px 15px 0;
    -webkit-box-shadow: 0px 4px 23px 8px rgba(12, 68, 112, 0.53);
    -moz-box-shadow: 0px 4px 23px 8px rgba(12, 68, 112, 0.53);
    box-shadow: 0px 4px 23px 8px rgba(12, 68, 112, 0.53);
    
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    25% {
        transform: rotate(90deg) translateX(50px);
    }
    50% {
        transform: rotate(180deg) translateX(0);
    }
    75% {
        transform: rotate(270deg) translateX(-50px);
    }
    100% {
        transform: rotate(360deg) translateX(0);
    }
}


.header .logo, header menu li a {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease, font-size 0.6s ease;
}


.header__scroll .logo {
    transform: translateX(-10px);
    font-size: 1.5em;
}

header .logo {
    position: relative;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 2em;
    transition: 0.6s;
}

header menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header menu li {
    position: relative;
    list-style: none;
}

header menu li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.container {
    top: 0;
    left: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(https://i.pinimg.com/originals/1d/53/c7/1d53c7ffb9d4cd4eb4a916ba1a49f245.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tx {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:start;
}

.container svg {
    position: absolute;
    bottom: 0;
    left: 0;
}



.container2 svg {
    position: absolute;
    top: -10px;
    left: 0;
    
}


.container3 svg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}


.container2 {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #184b78 0%, #04befe 100%);
}

.container3 {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to top, #184b78 0%, #04befe 100%);
}

.container4 {
    width: 100%;
    height: 100vh;
    background-image: url(https://static.tildacdn.com/tild3230-6532-4930-b766-346566323666/4QAAAgDJaeA-1920.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
