* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

p{
    z-index: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
}
.header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, #ffffff11, #ffffff55);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 2rem 0 2rem 0.7rem;
    transition: all 0.4s ease-out;
    z-index: 9999;
}


.header .logo {
    position: relative;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
    color: black;
}
.header .logo:hover {
    background: #03e9f4;
    color: #ffffff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.header .navbar a{
    font-size: 1rem;
    color: #ffffff;
    margin: 0 2rem;
    transition: all 0.4s ease-in;
    text-decoration: none;
    letter-spacing: 2px;

}
.header .navbar a:hover {
    background: #03e9f4;
    color: #000000;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.header__scroll {
    padding: 1rem 2rem 20px 0;
    -webkit-box-shadow: 0px 4px 23px 8px rgba(12, 68, 112, 0.53);
    -moz-box-shadow: 0px 4px 23px 8px rgba(12, 68, 112, 0.53);
    box-shadow: 0px 4px 23px 8px rgba(12, 68, 112, 0.53); 
}

.header__scroll .logo {
    font-size: 1.2rem;
    transition: all 0.4s ease-in;
}

.header__scroll .navbar a {
    transition: all 0.4s ease-in;
}

#menu-btn{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    header .menu-toggle { 
        display: block; /* Показываем кнопку меню на малых экранах */ 
    }

    .header {
        padding: 2rem;
    }
}

@media (max-width: 768px){
    html {
        font-size: 50%;
    }

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, #184b78 0%, #04befe 100%);
        clip-path: polygon(0 0, 100% 0, 100% 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
    }

    .navbar a {
        display: block;
        font-size: 2.2rem;
        padding: 1.5rem 2rem;
    }

} 

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(https://i.pinimg.com/originals/1d/53/c7/1d53c7ffb9d4cd4eb4a916ba1a49f245.jpg);
    justify-content: space-between;
}

.text__container {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
}

.pr {
    font-size: 1.5rem;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#typed {
    font-size: 2.5rem;
    color: #04befe;
    display: inline-block;
}

.typed-cursor {
    font-size: 2.6rem;
}

.svg__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 45vh;
}


.svg__container svg{
    position: absolute;
    bottom: 0;
    left: 0;
}

.fg {
    position: absolute;
    align-self: flex-end;
    height: 0;
    width: 100%;
}

.linses {
    align-self: flex-end;
    position: relative;
    z-index: 1;
    display: flex;
    font-size: 1.2rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2rem;
}

.Item {
    margin-left: 5vw;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.fch {
    margin-top: 5vh;
}

.tch {
    margin-top: 3vh;
}


.div1,
.div2,
.div3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px #f5eccf,
                0 0 25px #f5eccf,
                0 0 50px #f5eccf,
                0 0 200px #f5eccf;
}

.div1 {
    background-image: url(https://i.postimg.cc/zBp50Xz0/sabirno.jpg);
}

.div2 {
    background-image: url(https://i.postimg.cc/XqzW6Hy5/prism.jpg);
}

.div3 {
    background-image: url(https://i.postimg.cc/bN4P65Pc/rasipno.jpg);
}

/* Медиазапросы для экранов шириной до 768px */
@media (max-width: 875px) {


    .linses { 
        flex-direction: column; 
        align-items: center;
        margin-left: auto; 
        margin-right: auto;
        position: absolute;
        gap: 10px;
    }

    .Item {
        margin-left: 0; 
    }

    .svg__container{
        height: auto;
    }

    .fg {
        background-color: #04befe;
        width: 100%;
        height: 90vh;
        position: relative;
        z-index: 0;
    }

    .svg__container svg {
        z-index: 0;
        position: relative;
    }

}

.container2 {
    background-image: url(https://ichef.bbci.co.uk/images/ic/1200xn/p03wgctw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}


.svT{
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.svB{
    z-index: 1;
    bottom: 0;
    left: 0;
    position: absolute;
}

.lx {
    z-index: 2;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    gap: 2.5rem;
}


.lx p{
    font-size: 1.5rem;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    position: relative;
    background: linear-gradient(135deg, #ffffff05, #ffffff00);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #ffffff18;
    border-radius: 25px;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    box-shadow: 0 8px 32px 0 #000000;
    letter-spacing: normal;
    text-shadow: 4px 4px 12px #184b78;
}

.lx ul li {
    font-size: 1.4rem;
    color: #FFFFFF;
}


#typed2 {
    font-size: 2.5rem;
    display: inline-block;
    color: #FFF;
    text-shadow: 0 1px 32px #04befe;
}

.kons{
    height: 25vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Liks {
    background: radial-gradient(#184b78, rgba(0, 0, 0, 1));
}

#typed3 {
    font-size: 2rem;
    display: inline-block;
    color: #FFF;
}

.container3 {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #184b78 0%, #04befe 100%);
}

.text,
.text2 {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    letter-spacing: normal;
    z-index: 2;
    margin-left: 2vw;
}


.text h3,
.text2 h3{
    font-size: 1.85rem;
    text-align: left;
    margin-right: 10vw;
}
.text p{
    font-size: 1.62rem;
    text-align: left;
    margin-right: 10vw;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #184b78, 0 0 30px #184b78, 0 0 40px #184b78, 0 0 55px #184b78, 0 0 75px #184b78;
}

#hf{
    color: #FFF;
}
.text ol li{
    margin: 2vh;
    font-size: 1.6rem;
    text-align: left;
    margin-right: 10vw;
}

.text2 ul li{
    margin: 2vh;
    font-size: 1.6rem;
    text-align: left;
    margin-right: 10vw;
}


#ol{
    text-shadow: 0 0 5px #ffffff, 0 0 20px #184b78, 0 0 30px #184b78, 0 0 40px #184b78, 0 0 55px #184b78, 0 0 75px #184b78;
}

.pict {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pict img{
    border-radius: 30px;
    box-shadow: 0 8px 32px 0 #000000;
    width: 30rem;
}

@media (max-width:768px){

    html {
        font-size: 65%;
    }
    .container3{
        flex-direction: column;
    }

    .text {
        justify-content: flex-end;
        width: 100%;
        height: 60%;
        gap: 3rem;
    }

    .text2 {
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 3rem;
    }

    .text h3{
        text-align: center;
    }

    .pict {
        align-items: flex-start;
        width: 100%;
        height: 30%;
    }
    .pict img{
        border-radius: 30px;
        box-shadow: 0 8px 32px 0 #000000;
        width: 24rem;
    }

}

.pm{
    height: 15vh;
    width: 100%;
    position: relative;
    background-color: #FFF;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    color: #000000;
}

.pm p {
    text-align: center;
    font-size: 2rem;
    align-self: center;
}

.pm svg {
    position: absolute;
    align-self: flex-start;
    z-index: 1;
    fill: #04befe;
}

#vsc {
    background: url(https://upload.wikimedia.org/wikipedia/commons/8/82/Large_convex_lens.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#vrc {
    background: url(https://upload.wikimedia.org/wikipedia/commons/3/32/Concave_lens.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#tr{
    fill: #04befe55;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
}
#hs {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

#ol2 {
    color: #000000;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f5ecda, 0 0 30px#f5ecda, 0 0 40px #f5ecda, 0 0 55px #f5ecda, 0 0 75px #f5ecda;
}

.imges{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 0.5rem;
}

.image1,
.image2,
.image3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px #f5eccf,
                0 0 25px #f5eccf,
                0 0 50px #f5eccf,
                0 0 200px #f5eccf;
}

.image1 {
    background-image: url(https://i.postimg.cc/sx92mq9p/Dvoyakovypuklyye.jpg);
}

.image2 {
    background-image: url(https://i.postimg.cc/4NKYrfb3/Plosko-vipuklye.jpg);
}

.image3 {
    background-image: url(https://i.postimg.cc/1t1PdMzM/Vognuto-vipuklye.jpg);
}


@media(max-width: 768px){
    .imges {
        width: 100%;
        height: 50%;
        flex-direction: row;
    }
}

#Likr {
    background: linear-gradient(to bottom, #184b78 0%, #04befe 100%);
}

#typed4 {
    font-size: 2rem;
    display: inline-block;
    color: #FFF;
}


.rasp1,
.rasp2,
.rasp3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px #f5eccf,
                0 0 25px #f5eccf,
                0 0 50px #f5eccf,
                0 0 200px #f5eccf;
}

.rasp1 {
    background-image: url(https://i.postimg.cc/CxLs3JVw/Dvoyako-vognutiye.jpg);
}

.rasp2 {
    background-image: url(https://i.postimg.cc/vZqtb9Qf/Plosko-vognutiye.jpg);
}

.rasp3 {
    background-image: url(https://i.postimg.cc/43YbdddM/Vipuklo-vognutiye.jpg);
}

#of {
    background: linear-gradient(to top, #184b78 0%, #04befe 100%);
}

#pos {
    height: 200vh;
}

#ph{
    align-self: center;
}
