* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0 25px 25px;
    background: linear-gradient(135deg, #ffffff11, #ffffff55);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: all 0.5s ease-out;
    z-index: 9999;
}


header .logo {
    position: relative;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 28px;
    transform: translateX(-10px);
    transition: all 0.3s ease-in;
    color: black;
}

header menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header menu li {
    position: relative;
    list-style: none;
    transform: translateX(10px);
    transition: all 0.5s ease-in-out;
}

header menu li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
}


.header__scroll {
    padding: 15px 10px 15px 0;
    -webkit-box-shadow: 0px 4px 23px 8px rgba(12, 68, 112, 0.53);
    -moz-box-shadow: 0px 4px 23px 8px rgba(12, 68, 112, 0.53);
    box-shadow: 0px 4px 23px 8px rgba(12, 68, 112, 0.53); 
}

.header__scroll .logo {
    transform: translateX(-10px);
    font-size: 19px;
    transition: all 0.5s ease-in;
}

.header__scroll menu li{
    transform: translateX(20px);
    transition: all 0.5s ease-in-out;
}


.container {
    top: 0;
    left: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(https://i.pinimg.com/originals/1d/53/c7/1d53c7ffb9d4cd4eb4a916ba1a49f245.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    align-content: center; 
    justify-content: center;
}

.container .div {
    margin-bottom: 5vh;
    align-self: center;
}

.container p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-left: 25%;
    margin-right: 25%;
    align-self: center;
    text-align: center;
    letter-spacing: normal;
    font-weight: 500;
    line-height: 1.2;

}

.container svg {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
}

#typed {
    color: #04befe;
    font-size: 45px;
    display: inline-block;
}

.typed-cursor {
    font-size: 48px;
}

.linses {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    font-size: 25px;
}

.div1 {
    width: 150px;
    height: 150px;
    border-radius: 360px;
}

.container2 svg {
    position: absolute;
    top: -10px;
    left: 0;
    
}


.container3 svg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}


.container2 {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #184b78 0%, #04befe 100%);
}

.container3 {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to top, #184b78 0%, #04befe 100%);
}

.container4 {
    width: 100%;
    height: 100vh;
    background-image: url(https://static.tildacdn.com/tild3230-6532-4930-b766-346566323666/4QAAAgDJaeA-1920.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
